.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-text-shadow {
  text-shadow: 1px 3px 3px rgb(143, 143, 143);
}

.custom-text-low-shadow {
  text-shadow: 1px 2px 2px rgb(143, 143, 143);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */

/* For webkit-based browsers like Chrome, Safari, etc. */
::-webkit-scrollbar {
  width: 1px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(147 197 253); /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners of the scrollbar handle */
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(147 197 253); /* Color of the scrollbar handle on hover */
  display: none;
}


.scrollbar::-webkit-scrollbar {
  height: 5px; /* Set the width of the scrollbar */
  display: none;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change the background color of the scrollbar track */
  border-radius: 5px;
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(147 197 253); /* Change the color of the scrollbar thumb */
  border-radius: 10px; /* Adjust the border radius */
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change the color on hover */
  display: none;
}
